@import "../helper/mixin";
@import "../helper/variable";

#personal {
  @include bgContent($bg-header);

  h1 {
    color: $primary;
    font-size: $fs-5;
    margin-top: 30px;
  }

  .rowList {
    margin-bottom: 16px;
    padding: 8px 0;
    position: relative;
    .imgSong {
      position: relative;
      img {
        width: 60px;
        max-width: 60px;
        height: 60px;
        margin-right: 16px;
        border-radius: 5px;
        cursor: pointer;
      }

      .btnControl {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-80%, -60%);
        color: $primary;
        font-size: $fs-4;
        cursor: pointer;
        transition: all 0.2s;
        display: none;
      }
    }
    .info {
      color: $primary;
      h3 {
        font-weight: 500;
        line-height: 1;
      }
      p {
        color: $color-info;
      }
    }

    .buttonHeart {
      position: absolute;
      right: 0;
      top: 30%;
      transform: translateY(-50%);
      display: none;
      .icon {
        @include stylesIcon($color1, $fs-1);
        &.active {
          @include stylesIcon($color1, $fs-3);
        }
      }
    }

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
      .imgSong {
        img {
          filter: brightness(35%);
        }
        .btnControl {
          display: block;
        }
      }
      .buttonHeart {
        display: block;
      }
    }
  }

  .playlistInfo {
    margin-right: 16px;
    img {
      width: 200px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s;
    }
    h3 {
      color: $primary;
      font-size: $fs-1;
      padding-top: 16px;
    }
    p {
      color: $color-info;
      font-size: $fs-3;
    }

    &:hover {
      img {
        transform: scale(1.1);
        filter: brightness(35%);
        transition: all 0.3s;
      }
    }
  }
}
