//background color
$bg-header: #170f23;
$bg2: #2f2739;
$bg3: #34224f;
$bg-sidebar: #221a2d;
$bg-footer: #130c1c;
$bg-item: #9b4de0;

//font color
$color1: #bf72e9;
$color-info: #7b7584;
$primary: #fff;

//Font size

$fs-1: 18px;
$fs-2: 20px;
$fs-3: 14px;
$fs-4: 24px;
$fs-5: 48px;
