@import "../helper/mixin";
@import "../helper/variable";

#itemTable {
  .tableRow {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.05);
    padding: 8px 0;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
      .info {
        img {
          filter: brightness(35%);
        }
        .btnControl {
          display: block;
        }
      }
    }
    &.active {
      background-color: rgba($color: #fff, $alpha: 0.1);
      .info {
        img {
          filter: brightness(35%);
        }
        .btnControl {
          display: block;
        }
      }
    }
  }
  h1 {
    font-size: $fs-5;
    text-align: center;
  }

  p {
    color: $color-info;
    font-size: $fs-3;
  }
  .activeFirst {
    color: #4372b0 !important;
  }
  .activeSecond {
    color: #3d9c8c !important;
  }
  .activeThird {
    color: #b14045 !important;
  }

  .info {
    display: flex;
    align-items: center;
    .imgSong {
      position: relative;

      img {
        height: 50px;
        width: 50px;
        border-radius: 3px;
        margin-right: 16px;

        cursor: pointer;
      }
      .btnControl {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-80%, -45%);
        color: $primary;
        font-size: $fs-4;
        transition: all 0.2s;
        display: none;
      }
      .title {
        line-height: 1;
        h3 {
          color: $primary;
          font-size: $fs-1;
        }
      }
    }
  }
}
