@import "../helper/mixin";
@import "../helper/variable";

#search {
  @include bgContent($bg-header);

  .rowSong {
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.07);
      .imgSong {
        img {
          filter: brightness(35%);
        }
        .btnControl {
          display: block;
        }
      }
    }

    .imgSong {
      position: relative;
      img {
        cursor: pointer;
      }
      .btnControl {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-70%, -40%);
        color: $primary;
        font-size: $fs-4;
        cursor: pointer;
        transition: all 0.2s;
        display: none;
      }
    }
  }
}
